{
    "log": {
      "level": "info",
      "timestamp": true
    },
    "inbounds": [
      {
        "type": "vless",
        "tag": "vless-in",
        "listen": "::",
        "listen_port": {{ listen_port }},
        "sniff": true,
        "sniff_override_destination": true,
        "domain_strategy": "ipv4_only",
        "users": [
          {
            "uuid": {{ uuid.stdout }},
            "flow": "xtls-rprx-vision"
          }
        ],
        "tls": {
          "enabled": true,
          "server_name": {{ server_name }},
            "reality": {
            "enabled": true,
            "handshake": {
              "server": {{ server_name }},
              "server_port": 443
            },
            "private_key": {{ private_key.stdout }},
            "short_id": [{{ short_id.stdout }}]
          }
        }
      }
    ],
    "outbounds": [
      {
        "type": "direct",
        "tag": "direct"
      },
      {
        "type": "block",
        "tag": "block"
      }
    ]
  }